@import "https://cdn.rawgit.com/limxingzhi/eee0c611ab14917259a96f0010a7f661/raw/b89e1308e2c619b5fe16482d84210ed87498bfc8/prism.css";
@import "https://bootswatch.com/yeti/bootstrap.min.css";

$footer-bg-color: #272822;
$footer-font-color: #66D9EF;

body {
	margin: 5vh 10vw;
	margin-bottom: 10rem;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 6rem;
	background: $footer-bg-color;
	color: $footer-font-color;
	font-size: 2rem;

	display: flex;
	justify-content: center;

	opacity: 0.85;

	h4 {
		margin: auto;
	}
}